<footer id="contact">
      <h1>Contact Me</h1>
      <div class="social-icons">
        <a href="https://github.com/prajwalzingare"
          ><i class="fab fa-github"></i
        ></a>
        <a  href="https://twitter.com/zingareprajwal"
          ><i class="fab fa-twitter"></i
        ></a>
        <a  href="https://www.instagram.com/prajwalzingare/"
          ><i class="fab fa-instagram"></i
        ></a>
        <a
          
          href="https://www.linkedin.com/in/prajwal-zingare-a022a8169/"
          ><i class="fab fa-linkedin"></i
        ></a>
        <a target="_blank" href="mailto:prajwalzingre@gmail.com"
          ><i class="fas fa-at"></i
        ></a>
      </div>
      <p>Created By prajwalzingare</p>
    </footer>